<style type="text/css">
  body {
    background-color: #C2FFE6;
  }
</style>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h1 class="stamp">Every One of Them Words Rang True</h1>
  </div>
  <div class="col-md-1"></div>
</div>

<% @quotes.each do |quote| %>
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <br>
      <p><%= quote.content %></p>
    </div>
    <div class="col-md-1"></div>
  </div>
  <div class="row">
    <div class="col-md-10 col-md-offset-2">
      <p><%= quote.attribution %></p>
    </div>
  </div>
<% end %>

<br>
<div class="row">
  <div class="col-md-2 col-md-offset-1">
    <%= link_to 'Back', root_path %>
  </div>
  <div class="col-md-8 text-right">
    <%= link_to 'Submit a Quote', new_quote_path %>
  </div>
</div>