<style type="text/css">
  body {
    background-color: #C2FFE6;
  }
</style>

<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<h3 class="stamp">
			<%= @quote.content %>
		</h3>
	</div>
</div>
<div class="row">
	<div class="col-md 10 col-md-offset-2">
		<h3>
			<%= @quote.attribution %>
		</h3>
	</div>
</div>
<div class="row">
	<div class="col-md-11 col-md-offset-1">
		<%= link_to 'Back', quotes_path %> | 
		<%= link_to 'Edit', edit_quote_path(@quote) %>
	</div>
</div>