
  <div id="container">
    <style type="text/css">
  body {
    background-color: #FFC2DB;
  }
</style>


<div class="row">
  <div class="col-md-11 col-md-offset-1">
    <h1 class="stamp"><a href="/">Very Best Typers</a></h1>
  </div>
</div>
<div class="row">
  <div class="col-md-9 col-md-offset-1">
    <table class="table table-striped">
      <thead class="stamp">
        <tr>
          <th>Rank</th>
          <th>Name</th>
          <th>Score</th>
        </tr>
      </thead>
      <tbody>
          <tr>
            <td class="stamp">1</td>
            <td class="stamp">zachsheets!!</td>
            <td class="stamp">106.5 WPM</td>
          </tr>
          <tr>
            <td class="stamp">2</td>
            <td class="stamp">last charles best charles</td>
            <td class="stamp">103.4 WPM</td>
          </tr>
          <tr>
            <td class="stamp">3</td>
            <td class="stamp">Zachsheets!</td>
            <td class="stamp">103.3 WPM</td>
          </tr>
          <tr>
            <td class="stamp">4</td>
            <td class="stamp">Just as Baudelaire surpasses Thomas</td>
            <td class="stamp">101.3 WPM</td>
          </tr>
          <tr>
            <td class="stamp">5</td>
            <td class="stamp">Last Dylan. Best Dylan.</td>
            <td class="stamp">100.9 WPM</td>
          </tr>
          <tr>
            <td class="stamp">6</td>
            <td class="stamp">Will</td>
            <td class="stamp">99.5 WPM</td>
          </tr>
          <tr>
            <td class="stamp">7</td>
            <td class="stamp">rishka</td>
            <td class="stamp">99.4 WPM</td>
          </tr>
          <tr>
            <td class="stamp">8</td>
            <td class="stamp">Dylan again.</td>
            <td class="stamp">97.4 WPM</td>
          </tr>
          <tr>
            <td class="stamp">9</td>
            <td class="stamp">rishka</td>
            <td class="stamp">97.3 WPM</td>
          </tr>
          <tr>
            <td class="stamp">10</td>
            <td class="stamp">zach</td>
            <td class="stamp">97.2 WPM</td>
          </tr>
          <tr>
            <td class="stamp">11</td>
            <td class="stamp">Dylan</td>
            <td class="stamp">96.9 WPM</td>
          </tr>
          <tr>
            <td class="stamp">12</td>
            <td class="stamp">Eat it, Sarah</td>
            <td class="stamp">96.6 WPM</td>
          </tr>
          <tr>
            <td class="stamp">13</td>
            <td class="stamp">rishka</td>
            <td class="stamp">95.5 WPM</td>
          </tr>
          <tr>
            <td class="stamp">14</td>
            <td class="stamp">Charles will surpass Dylan</td>
            <td class="stamp">94.7 WPM</td>
          </tr>
          <tr>
            <td class="stamp">15</td>
            <td class="stamp">I will break 100!</td>
            <td class="stamp">94.4 WPM</td>
          </tr>
          <tr>
            <td class="stamp">16</td>
            <td class="stamp">closer charles</td>
            <td class="stamp">93.0 WPM</td>
          </tr>
          <tr>
            <td class="stamp">17</td>
            <td class="stamp">I will break 100</td>
            <td class="stamp">92.6 WPM</td>
          </tr>
          <tr>
            <td class="stamp">18</td>
            <td class="stamp">Sarah will rise again</td>
            <td class="stamp">92.2 WPM</td>
          </tr>
          <tr>
            <td class="stamp">19</td>
            <td class="stamp">zach</td>
            <td class="stamp">91.8 WPM</td>
          </tr>
          <tr>
            <td class="stamp">20</td>
            <td class="stamp">Sarah</td>
            <td class="stamp">90.6 WPM</td>
          </tr>
          <tr>
            <td class="stamp">21</td>
            <td class="stamp">mo</td>
            <td class="stamp">90.1 WPM</td>
          </tr>
          <tr>
            <td class="stamp">22</td>
            <td class="stamp">higher charles</td>
            <td class="stamp">89.7 WPM</td>
          </tr>
          <tr>
            <td class="stamp">23</td>
            <td class="stamp">zach</td>
            <td class="stamp">89.6 WPM</td>
          </tr>
          <tr>
            <td class="stamp">24</td>
            <td class="stamp">warmin up</td>
            <td class="stamp">88.8 WPM</td>
          </tr>
          <tr>
            <td class="stamp">25</td>
            <td class="stamp">zach</td>
            <td class="stamp">88.7 WPM</td>
          </tr>
          <tr>
            <td class="stamp">26</td>
            <td class="stamp">Le sigh</td>
            <td class="stamp">85.7 WPM</td>
          </tr>
          <tr>
            <td class="stamp">27</td>
            <td class="stamp">warmin up</td>
            <td class="stamp">85.3 WPM</td>
          </tr>
          <tr>
            <td class="stamp">28</td>
            <td class="stamp">amy</td>
            <td class="stamp">84.7 WPM</td>
          </tr>
          <tr>
            <td class="stamp">29</td>
            <td class="stamp">Walnut</td>
            <td class="stamp">84.1 WPM</td>
          </tr>
          <tr>
            <td class="stamp">30</td>
            <td class="stamp">ye gods above!</td>
            <td class="stamp">84.1 WPM</td>
          </tr>
          <tr>
            <td class="stamp">31</td>
            <td class="stamp">zach</td>
            <td class="stamp">82.9 WPM</td>
          </tr>
          <tr>
            <td class="stamp">32</td>
            <td class="stamp">splines are for suckers</td>
            <td class="stamp">82.3 WPM</td>
          </tr>
          <tr>
            <td class="stamp">33</td>
            <td class="stamp">warmup</td>
            <td class="stamp">81.5 WPM</td>
          </tr>
          <tr>
            <td class="stamp">34</td>
            <td class="stamp">mm</td>
            <td class="stamp">78.2 WPM</td>
          </tr>
          <tr>
            <td class="stamp">35</td>
            <td class="stamp">Ralph Fiennes</td>
            <td class="stamp">78.0 WPM</td>
          </tr>
          <tr>
            <td class="stamp">36</td>
            <td class="stamp">zach</td>
            <td class="stamp">77.2 WPM</td>
          </tr>
          <tr>
            <td class="stamp">37</td>
            <td class="stamp">dan</td>
            <td class="stamp">76.6 WPM</td>
          </tr>
          <tr>
            <td class="stamp">38</td>
            <td class="stamp">s ca</td>
            <td class="stamp">75.3 WPM</td>
          </tr>
          <tr>
            <td class="stamp">39</td>
            <td class="stamp">Charles</td>
            <td class="stamp">72.5 WPM</td>
          </tr>
          <tr>
            <td class="stamp">40</td>
            <td class="stamp">warmin up</td>
            <td class="stamp">72.2 WPM</td>
          </tr>
          <tr>
            <td class="stamp">41</td>
            <td class="stamp">Ramenhotep</td>
            <td class="stamp">71.3 WPM</td>
          </tr>
          <tr>
            <td class="stamp">42</td>
            <td class="stamp">charlie</td>
            <td class="stamp">70.9 WPM</td>
          </tr>
          <tr>
            <td class="stamp">43</td>
            <td class="stamp">Ortho</td>
            <td class="stamp">70.6 WPM</td>
          </tr>
          <tr>
            <td class="stamp">44</td>
            <td class="stamp">Vlad</td>
            <td class="stamp">69.7 WPM</td>
          </tr>
          <tr>
            <td class="stamp">45</td>
            <td class="stamp">damnation and hell!</td>
            <td class="stamp">66.4 WPM</td>
          </tr>
          <tr>
            <td class="stamp">46</td>
            <td class="stamp">zounds!</td>
            <td class="stamp">65.9 WPM</td>
          </tr>
          <tr>
            <td class="stamp">47</td>
            <td class="stamp">dan</td>
            <td class="stamp">65.8 WPM</td>
          </tr>
          <tr>
            <td class="stamp">48</td>
            <td class="stamp">Vicky</td>
            <td class="stamp">64.6 WPM</td>
          </tr>
          <tr>
            <td class="stamp">49</td>
            <td class="stamp">Will</td>
            <td class="stamp">64.5 WPM</td>
          </tr>
          <tr>
            <td class="stamp">50</td>
            <td class="stamp">Lilly</td>
            <td class="stamp">64.3 WPM</td>
          </tr>
          <tr>
            <td class="stamp">51</td>
            <td class="stamp">charlie</td>
            <td class="stamp">62.9 WPM</td>
          </tr>
          <tr>
            <td class="stamp">52</td>
            <td class="stamp">b</td>
            <td class="stamp">61.9 WPM</td>
          </tr>
          <tr>
            <td class="stamp">53</td>
            <td class="stamp">Nick</td>
            <td class="stamp">61.6 WPM</td>
          </tr>
          <tr>
            <td class="stamp">54</td>
            <td class="stamp">Owen</td>
            <td class="stamp">61.5 WPM</td>
          </tr>
          <tr>
            <td class="stamp">55</td>
            <td class="stamp">zach</td>
            <td class="stamp">61.4 WPM</td>
          </tr>
          <tr>
            <td class="stamp">56</td>
            <td class="stamp">Victoria</td>
            <td class="stamp">60.1 WPM</td>
          </tr>
          <tr>
            <td class="stamp">57</td>
            <td class="stamp">monkeylizard</td>
            <td class="stamp">59.7 WPM</td>
          </tr>
          <tr>
            <td class="stamp">58</td>
            <td class="stamp">accursed fate!</td>
            <td class="stamp">58.7 WPM</td>
          </tr>
          <tr>
            <td class="stamp">59</td>
            <td class="stamp">Lilly</td>
            <td class="stamp">58.4 WPM</td>
          </tr>
          <tr>
            <td class="stamp">60</td>
            <td class="stamp">Robin</td>
            <td class="stamp">58.3 WPM</td>
          </tr>
          <tr>
            <td class="stamp">61</td>
            <td class="stamp">Wonka</td>
            <td class="stamp">56.8 WPM</td>
          </tr>
          <tr>
            <td class="stamp">62</td>
            <td class="stamp">amy</td>
            <td class="stamp">55.9 WPM</td>
          </tr>
          <tr>
            <td class="stamp">63</td>
            <td class="stamp">v</td>
            <td class="stamp">54.6 WPM</td>
          </tr>
          <tr>
            <td class="stamp">64</td>
            <td class="stamp">v</td>
            <td class="stamp">54.5 WPM</td>
          </tr>
          <tr>
            <td class="stamp">65</td>
            <td class="stamp">Nabokov</td>
            <td class="stamp">54.0 WPM</td>
          </tr>
          <tr>
            <td class="stamp">66</td>
            <td class="stamp">A</td>
            <td class="stamp">51.3 WPM</td>
          </tr>
          <tr>
            <td class="stamp">67</td>
            <td class="stamp">Grament</td>
            <td class="stamp">50.8 WPM</td>
          </tr>
          <tr>
            <td class="stamp">68</td>
            <td class="stamp">Corgis Philbin</td>
            <td class="stamp">49.7 WPM</td>
          </tr>
          <tr>
            <td class="stamp">69</td>
            <td class="stamp">CRUS</td>
            <td class="stamp">49.3 WPM</td>
          </tr>
          <tr>
            <td class="stamp">70</td>
            <td class="stamp">a</td>
            <td class="stamp">49.0 WPM</td>
          </tr>
          <tr>
            <td class="stamp">71</td>
            <td class="stamp">Nabokov</td>
            <td class="stamp">47.9 WPM</td>
          </tr>
          <tr>
            <td class="stamp">72</td>
            <td class="stamp">Ace</td>
            <td class="stamp">47.3 WPM</td>
          </tr>
          <tr>
            <td class="stamp">73</td>
            <td class="stamp">Boom chalkalacka. </td>
            <td class="stamp">46.0 WPM</td>
          </tr>
          <tr>
            <td class="stamp">74</td>
            <td class="stamp">Ace</td>
            <td class="stamp">45.5 WPM</td>
          </tr>
          <tr>
            <td class="stamp">75</td>
            <td class="stamp">Nick</td>
            <td class="stamp">45.3 WPM</td>
          </tr>
          <tr>
            <td class="stamp">76</td>
            <td class="stamp">scooter</td>
            <td class="stamp">39.2 WPM</td>
          </tr>
          <tr>
            <td class="stamp">77</td>
            <td class="stamp">Willy Wonka</td>
            <td class="stamp">38.2 WPM</td>
          </tr>
          <tr>
            <td class="stamp">78</td>
            <td class="stamp">Ben is faster than Will Schenk</td>
            <td class="stamp">35.0 WPM</td>
          </tr>
          <tr>
            <td class="stamp">79</td>
            <td class="stamp">Nope.</td>
            <td class="stamp">31.8 WPM</td>
          </tr>
          <tr>
            <td class="stamp">80</td>
            <td class="stamp">quarkTrail</td>
            <td class="stamp">26.9 WPM</td>
          </tr>
          <tr>
            <td class="stamp">81</td>
            <td class="stamp">Tim Smith</td>
            <td class="stamp">23.6 WPM</td>
          </tr>
          <tr>
            <td class="stamp">82</td>
            <td class="stamp">So I win, right?</td>
            <td class="stamp">3.1 WPM</td>
          </tr>
      </tbody>
    </table>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-11 col-md-offset-1">
    <a href="/">Back</a>
  </div>
</div>
</div>